.header {
    background-color: red;
    width: 100vw;
    height: 10vh;
}
.heading {
    align-items: center;
    align-content: center;
    align-self: center;
    font-style: normal;
    margin-left: 47vw;
    margin-top: -2%;
    color: white;
}

.image {
    width: 13vw;
    height: 40vh;
    border-radius: 2%;
}

.content {
    display: flex;
    padding: 20px;
    align-items: center;
    margin-left: 25vw;
    margin-top: 30px;
}

.greyText {
    color: grey;
    text-decoration: underline;
    margin-left: 1.5vw;
}

.texts{
    margin-left: 30px;
    margin-right: 30%;
}

.description {
    content: "\a";
    text-orientation: sideways;
}